trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:

  # Build Image
  - task: Docker@2
    displayName: "Build Docker Image"
    inputs:
      command: build
      repository: los-automation
      dockerfile: '**/Dockerfile'
      tags: |
        latest

  # Run Container
  - script: |
      docker run --rm \
        -v $(System.DefaultWorkingDirectory)/playwright-report:/app/playwright-report \
        los-automation:latest
    displayName: "Run Tests in Docker"

  # Publish Report
  - task: PublishPipelineArtifact@1
    condition: always()
    inputs:
      targetPath: "playwright-report"
      artifact: "Playwright HTML Report"
      publishLocation: "pipeline"
