trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:

  # Build Docker Image
  - task: Docker@2
    displayName: "Build Docker Image"
    inputs:
      command: build
      dockerfile: '**/Dockerfile'
      tags: |
        los-automation:latest

  # Run Tests Inside Container
  - script: |
      docker run --rm \
        -v $(System.DefaultWorkingDirectory)/playwright-report:/app/playwright-report \
        los-automation:latest
    displayName: "Run Tests in Docker"

  # Publish Report
  - task: PublishPipelineArtifact@1
    condition: always()
    inputs:
      targetPath: "playwright-report"
      artifact: "Playwright HTML Report"
      publishLocation: "pipeline"
