# ...existing code...
trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSource: spec
      versionSpec: "20.x"

  - script: npm ci
    displayName: "Install Playwright Deps"

  - script: npx playwright install --with-deps
    displayName: "Install Playwright Browsers"

  - script: npm run $(SCRIPT_KEY_VAR) --project=chromium
    displayName: "Test Execution"
    env:
      SECRET_KEY: $(SECRET_KEY_VAR)
      PLAYWRIGHT_HEADLESS: "1"

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'playwright-report'
      artifact: 'Playwright HTML Report'
      publishLocation: 'pipeline'
    condition: always()
