# ...existing code...
trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSource: spec
      versionSpec: "20.x"

  - script: npm ci
    displayName: "Install Playwright Deps"

  - script: npx playwright install --with-deps
    displayName: "Install Playwright Browsers"


  - script: npx playwright codegen --save-storage=auth/auth.json https://parabank.parasoft.com/
    displayName: "Generate Auth File"
    condition: failed()

  - script: SECRET_KEY=$(SECRET_KEY_VAR) npm run $(SCRIPT_KEY_VAR) --project=chromium
    displayName: "Test Execution"

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: 'playwright-report'
      artifact: 'Playwright HTML Report'
      publishLocation: 'pipeline'
    condition: always()
