# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSource: spec
      versionSpec: "20.x"

  - script: npm ci
    displayName: "Install Playwright Deps"

  - script: npm playwright install --with-deps
    displayName: "Install Playwright Browsers"

  - script: $env:SECRET_KEY=${env:SECRET_KEY_VAR} ; npm run ${env:SCRIPT_KEY_VAR} --project=chromium
    displayName: "Test Execution"

  - task: PublishPipelineArtifact@1
    inputs:
     targetPath: 'C:\PW_Demo\playwright-report'
     artifact: 'Playwright HTML Report'
     publishLocation: 'pipeline'
    condition: always()
