# ...existing code...
trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSource: spec
      versionSpec: "20.x"

  - script: npm ci
    displayName: "Install Playwright Deps"

  - script: npx playwright install --with-deps
    displayName: "Install Playwright Browsers"

<<<<<<< HEAD
  - script: SECRET_KEY=$(SECRET_KEY_VAR) npm run $(SCRIPT_KEY_VAR) --project=chromium
=======
  - script: npm run $(SCRIPT_KEY_VAR) --project=chromium
>>>>>>> 5d58fe5 (updates to yaml file)
    displayName: "Test Execution"
    env:
      SECRET_KEY: $(SECRET_KEY_VAR)

  - task: PublishPipelineArtifact@1
    inputs:
<<<<<<< HEAD
      targetPath: 'playwright-report'
      artifact: 'Playwright HTML Report'
      publishLocation: 'pipeline'
    condition: always()
=======
      targetPath: "playwright-report"
      artifact: "Playwright HTML Report"
      publishLocation: "pipeline"
    condition: always()
>>>>>>> 5d58fe5 (updates to yaml file)
