# ...existing code...
trigger:
  - main

pool:
  vmImage: ubuntu-latest

steps:
  - task: NodeTool@0
    inputs:
      versionSource: spec
      versionSpec: "20.x"

  - script: npm ci
    displayName: "Install Playwright Deps"

  - script: npx playwright install --with-deps
    displayName: "Install Playwright Browsers"

  - script: xvfb-run -a npm run ${env:SCRIPT_KEY_VAR} --reporter=html --project=chromium
    displayName: "Test Execution"
    env:
      SECRET_KEY: ${env:SECRET_KEY_VAR1}

  - script: mkdir -p playwright-report
    displayName: "Ensure report folder exists"

  - task: PublishPipelineArtifact@1
    condition: always()
    inputs:
      targetPath: "playwright-report"
      artifact: "Playwright HTML Report"
      publishLocation: "pipeline"
